:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.btnContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}
.btnContainer button {
	margin: 0 10px;
	width: 50px;
	height: 50px;
	display: flex;
	font-size: 3rem;
	align-items: center;
	background-color: rgb(172, 155, 172);
	border-radius: 4px;
	border: none;
	justify-content: center;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.addtodoForm {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	margin: 40px 0;
}
